.left-menu{
	float: left;
}
.editor{
	display: inline-block;
	width: 33%;
}
.right-menu{
	float: right;
}
.tools{
	padding: 0;
	margin: 0;
	list-style: none;
}
.editor-field{
	margin-left: 5%;
	background: #F5F5F5;
	border: 2px solid #000;
	width: 900px;
    height: 500px;
}
.editor-label{
	margin-left: 400px;
}
.textblock {
	font-size: x-large;
	border: thin solid black;
	width: 11em;
	text-align: center;
	padding:10px;
	position: relative;
}
.imageblock {
	width: 11em;
	text-align: center;
	border:2px solid #000;
	width: 223px;
	height: 223px;
}
.image {
	margin: 10px;
}
